@model IEnumerable<Shopping_Store.Catagory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-active">
    <tr>
        <th>
            Catagory Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a class="glyphicon glyphicon-edit" href="@Url.Action("Edit","Catagories", new { id = item.CatagoryId})"></a>
            <a class="glyphicon glyphicon-book" href="@Url.Action("Details","Catagories", new { id = item.CatagoryId })"></a>
            <a class="glyphicon glyphicon-trash" href="@Url.Action("Delete","Catagories", new { id = item.CatagoryId})"></a>
        </td>
    </tr>
}

</table>
