@model IEnumerable<Shopping_Store.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-active">
    <tr>
        <th>
           Name
        </th>
        <th>
            Address
        </th>
        <th>
           Phone
        </th>
        <th>
           Email
        </th>
        <th>
           Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            <a class="glyphicon glyphicon-edit" href="@Url.Action("Edit","Admins", new { id = item.AdminId })"></a>|
            <a class="glyphicon glyphicon-book" href="@Url.Action("Details","Admins", new { id = item.AdminId})"></a>|
            <a class="glyphicon glyphicon-trash" href="@Url.Action("Delete","Admins", new { id = item.AdminId })"></a>
        </td>
    </tr>
}

</table>
