@model IEnumerable<Shopping_Store.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive">
    <tr>
        <th>
            Product Name
            @*@Html.DisplayNameFor(model => model.Catagory.Name)*@
        </th>
        <th>
            Product Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Description
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>
            Product Sale
            @*@Html.DisplayNameFor(model => model.ProductSale)*@
        </th>
        <th>
            Product Purchase
            @*@Html.DisplayNameFor(model => model.ProductPurchase)*@
        </th>
        <th>
            Product Picture

            @*@Html.DisplayNameFor(model => model.Pro_Picture)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Catagory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Picture)
        </td>
        <td>
            <a class="glyphicon glyphicon-edit" href="@Url.Action("Edit","Products", new { id = item.ProductId })"></a>
            <a class="glyphicon glyphicon-book" href="@Url.Action("Details","Products", new { id = item.ProductId })"></a>
            <a class="glyphicon glyphicon-trash" href="@Url.Action("Delete","Products", new { id = item.ProductId })"></a>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })*@
        </td>
    </tr>
}

</table>
